.about-course__title {
    font-family: "helveticaneuecyr-heavy";
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    height: 61px;
    border-left: #C93555 10px solid;
    padding-left: 5px;
    margin-bottom: 37px;
}

.about-course__title_second {
    padding-top: 13px;
    letter-spacing: -1px;
    height: 52px;
    margin-bottom: 16px;
}