.about-prof__title {
    font-family: "helveticaneuecyr-heavy";
    font-size: 30px;
    height: 61px;
    border-left: #C93555 10px solid;
    margin-top: 50px;
    margin-bottom: 35px;
    padding-left: 10px;
    letter-spacing: -0.5px;
}