* { /* Установить свойства для всех элементов: внутренние и внешние отступы */
    padding: 0;
    margin: 0;
}

.wrap { /* Установить свойства для статичного блока-рамки */
    width: 200px; /* ширина */
    height: 150px; /* высота */
    outline: 1px solid #000; /* внешняя граница 1 пиксел сплошная черная */
    display: inline-block; /* тип отображения обтекаемый блочный элемент */
    margin: 35px 50px; /* внешние отступы */
}

.wrap > div { /* Установить общие свойства для анимируемых блоков*/
    width: 200px; /* ширина */
    height: 150px; /* высота */
    background: rgba(144, 235, 242, 0.5); /* цвет фона */
    display: inline-block; /* тип отображения обтекаемый блочный элемент */
    position: relative; /* относительное позиционирование */
    z-index: 2; /* порядок наложения - объект находится выше по оси z*/ 
    transition: transform 1s; /* установка скорости перехода для свойства transform */
}

.wrap > div > span { /* Установить свойства для текстовых надписей внутри блоков */
    position: absolute; /* абсолютное позиционирование */
    top: 45%; /* задать вертикальное положение */
    width: 100%; /* задать на всю ширину */
    text-align: center; /* выравнивание текста по центру */
}

/* Установить отдельные свойства анимации для блоков */
.translateX:hover {
    transform: translateX(50px); /* сдвинуть элемент относительно его исходного расположения на заданное значение по горизонтали вправо*/
}

.translateY:hover {
    transform: translateY(50px); /* сдвинуть элемент относительно его исходного расположения на заданное значение по вертикали вниз*/
}

.translate:hover {
    transform: translate(50px, 50px); /* сдвинуть элемент относительно его исходного расположения на заданное значение по горизонтали вправо и вертикали вниз*/
}

.scaleX:hover {
    transform: scaleX(-1); /* зеркально отобразить элемент по горизонтали*/
}

.scaleY:hover {
    transform: scaleY(-1); /* зеркально отобразить элемент по вертикали*/
}

.scaleX15:hover {
    transform: scaleX(1.5); /* увеличить масштаб элемента на заданное значение по горизонтали */
}

.scale:hover {
    transform: scale(1.5, 0.5); /* увеличить масштаб элемента на заданное значение по горизонтали и уменьшить по вертикали*/
}

.rotate:hover {
    transform: rotate(360deg); /* повернуть элемент на заданное значение в градусах по часовой */
}

.skewX:hover {
    transform: skewX(45deg); /* наклонить элемент в 2D-пространстве на заданное значение в градусах по горизонтали */
}

.skewY:hover {
    transform: skewY(-45deg); /* наклонить элемент в 2D-пространстве на заданное значение в градусах по вертикали */
}

.skew:hover {
    transform: skew(-20deg, 20deg); /* наклонить элемент в 2D-пространстве на заданное значение в градусах по горизонтали и вертикали */
}

.matrix:hover {
    transform: matrix(1.5, 0, 0.5, 1.2, 50, 0); /* трансформировать элемент по заданным значениям изменения масштаба по горизонтали, деформации по оси Y и по оси X, изменения масштаба по вертикали, смещения по оси Y и по оси X */
}