* { /* Установить свойства для всех элементов: внутренние и внешние отступы */
    padding: 0;
    margin: 0;
}

body {
    perspective: 900px; /* устанавливает расстояние от плоскости объекта (перспективы) */
    perspective-origin: center -5em; /* определяет с какой стороны смотреть на объект по Х и У */
}

.container {
    transform-style: preserve-3d; /* определяет положение дочернего элемента в 3D-пространстве */
    animation: rotate 10s infinite linear; /* устанавливает свойство анимации поворота продолжительностью 10 сек бесконечно с равномерной скоростью */
    display: inline-block; /* тип отображения обтекаемый блочный элемент */
    width: 200px; /* размер ширины */
    height: 200px; /* размер высоты */
    position: relative; /* относительное позиционирование */
    top: 100px; /* положение сверху */
    left: 250px; /* положение слева */
}

/* определить ключевые кадры при анимации с названием rotate */
@keyframes rotate {
    100% { transform: rotate3d(0, 1, 0, 360deg); } /* трансформирует элемент без деформации, вращая его в трёхмерном пространстве вокруг зафиксированной оси */
}

/* определить общие параметры сторон */
div.side {
    width: 200px; /* размер ширины */
    height: 200px; /* размер высоты */
    background-color: #ccc; /* цвет фона */
    position: absolute; /* абсолютное позиционирование */
    outline: 1px solid #000; /* стиль внешней рамки */
    outline-offset: 25px; /* расстояние между рамкой, созданной с помощью свойства outline, и краем */
    opacity: 0.8; /* устанавливает непрозрачность элемента на заданное значение */
}

/* определить параментры для каждой стороны */
.front {
    background: url("images/pic6.png"); /* установить фоновое изображение */
}

.left {
    transform: translateX(-100px) rotateY(90deg) translateX(100px); /* сдвинуть на 100px влево, повернуть на 90 градусов, сдвинуть на 100px вправо */
    background: url("images/pic1.png"); /* установить фоновое изображение */
}

.right {
    transform: translateX(-100px) rotateY(90deg) translateX(100px); /* сдвинуть на 100px вправо, повернуть на 90 градусов, сдвинуть на 100px вправо */
    background: url("images/pic2.png"); /* установить фоновое изображение */
}

.up {
    transform: translateY(-100px) rotateX(90deg) translateY(-100px); /* сдвинуть вверх на 100px, повернуть на 90 градусов, сдвинуть вверх на 100px */
    background: url("images/pic3.png"); /* установить фоновое изображение */
}

.down {
    transform: translateY(100px) rotateX(90deg) translateY(-100px); /* сдвинуть вниз на 100px, повернуть на 90 градусов, сдвинуть вверх на 100px */
    background: url("images/pic4.png"); /* установить фоновое изображение */
}

.back {
    transform: translateZ(-200px); /* сдвинуть по оси Z назад на 200px */
    background: url("images/pic5.png"); /* установить фоновое изображение */
}