/* стиль страницы */
body {
    background-color: #cecece; /* определить цвет фона страницы */
    padding: 32px; /* определить внутренние отступы на странице */
}

/* общий стиль для всех кнопок */
button {
    margin: 25px 15px; /* определить внешние отступы кнопок */
    border: none; /* убрать внешнюю границу кнопки */
    border-radius: 5px; /* скруглить углы объекта с помощью радиуса*/
    border: 1px solid lime; /* определить стиль рамки у кнопок */
    padding: 15px 35px; /* определить внутренние отступы кнопок */    
}

/* стиль кнопок при наведении */
button:hover {
    outline: 1px solid white; /* определить толщину, стиль и цвет внешней границы с помощью свойства outline*/
    outline-offset: -2px; /* установить расстояние между границей outline и border внутри элемента (отрицательное значение)*/
    cursor: pointer; /* определить стиль указателя при наведении */
}

/* отдельные стили отображения для каждой кнопки и при наведении*/

.button1 {
    background-color: #2563E9; /* установить цвет фона */
    transition: 1s; /* определить временной интервал применения свойства при помощи css-перехода */
}

.button1:hover {
    background-color: #4478E9; /* установить цвет фона при наведении*/
}

.button2 {
    background-color: #2563E9; /* установить цвет фона */
    transition: 1s; /* определить временной интервал применения свойства при помощи css-перехода */
    transition-property: background; /* определить, что фон подлежит css-анимации */
}

.button2:hover {
    background-color: #E95AD1; /* установить цвет фона при наведении*/
    outline: none; /* убрать свойство белой границы outline при наведении*/
}
