/* определить ключевые кадры при анимации с названием bouncing в трех моментах времени */
@keyframes bouncing {
    0% { left: 50px; bottom: 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); } /* объект слева внизу с параметрами тени: положения, размытия, цвета */
    50% { left: 150px; bottom: 250px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); } /* объект посередине вверху с параметрами тени: положения, размытия, цвета*/
    100% { left: 350px; bottom: 0px; box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1); } /* объект справа внизу с параметрами тени: положения, размытия, цвета*/
}

/* определить параметры анимируемого блока */
div {
    animation: bouncing 1s cubic-bezier(.1, .25, .1, 1) 0s infinite alternate both; /* имя анимации, продолжительность, заданная временная функция по 4 точкам, без задержки, бесконечно, переменно вперед и назад, сохранение стилей */
    background: lightslategray; /* определить цвет фона */
    display: block; /* установить тип отображения блочный элемент */
    width: 120px; /* определить параметры размера */
    height: 120px; /*  */
    text-align: center; /* определить параметры выравнивания текста*/
    border-radius: 150px; /* определить внешную границу кругом через радиус */
    position: relative; /* установить относительное позиционирование */
    margin-top: 250px; /* установить внешний верхний отступ */
}

/* определить стиль первого потомка элемента */
div:before {
    content: "Ball"; /* установить текстовую надпись */
    display: inline-block; /* установить тип отображения обтекаемый блочный элемент */
    margin-top: 40px; /* установить внешний верхний отступ */
    color: white; /* установить белый цвет текста */
    font-size: 2rem; /* установить размер текста */
}