* { /* Установить свойства для всех элементов: внутренние и внешние отступы */
    padding: 0;
    margin: 0;
    font-family: sans-serif; /* установить семейство шрифтов sans-serif */
}

body {
    text-align: center; /* выравние текста по центру */
}

h1 {
    margin: 35px auto; /* установление внешней границы по вертикали и горизонтали */
    text-align: center; /* выравние текста по центру */
}

.container__persona {
    perspective: 1000px; /* устанавливает расстояние от плоскости объекта (перспективы) */
    width: 250px; /* параметр ширины */
    height: 300px; /* параметр высоты */
    margin: 0 15px; /* установление внешней границы по вертикали и горизонтали */
    display: inline-block; /* тип отображения обтекаемый блочный элемент */
}

.persona {
    position: relative; /* относительное позиционирование */
    cursor: pointer; /* стиль указателя в виде руки */
    width: 250px; /* параметр ширины */
    height: 300px; /* параметр высоты */
    transition: 1s; /* установление скорости анимации при изменении CSS-свойств */
    transform-style: preserve-3d; /* определение положения дочернего элемента в 3D-пространстве */
}

.container__persona:hover .persona {
    transform: rotateY(180deg) /* повернуть элемент на 180 градусов при наведении */
}

.persona__foto {
    width: 250px; /* параметр ширины */
    height: 300px; /* параметр высоты */
    overflow: hidden; /* для переполненного блочного элемента контент обрезается, без предоставления прокрутки */
    z-index: 2; /* порядок наложения - объект находится выше по оси z */
    position: absolute; /* абсолютное позиционирование */
    top: 0; /* положение сверху */
    left: 0; /* положение слева */
    backface-visibility: hidden; /* задняя поверхность скрыта, что делает элемент невидимым, когда он повёрнутый от пользователя */
    border-radius: 15px; /* скругление границ блоков на заданное значение */
}

.persona__info {
    background-color: #000; /* установление фонового цвета */
    width: 250px; /* параметр ширины */
    height: 300px; /* параметр высоты */
    text-align: center; /* выравнивание текста по центру */
    position: absolute; /* абсолютное позиционирование */
    top: 0; /* положение сверху */
    left: 0; /* положение слева */
    z-index: 1; /* порядок наложения - объект находится выше по оси z */
    backface-visibility: hidden; /* задняя поверхность скрыта, что делает элемент невидимым, когда он повёрнутый от пользователя */
    transform: rotateY(180deg); /* повернуть элемент на 180 градусов */
    border-radius: 15px; /* скругление границ блоков на заданное значение */
}

.persona__info > h3 {
    padding-top: 15px; /* установить внутренний отступ сверху */
    color: #F3F3F3; /* установить цвет текста */
}

.persona__info > a {
    color: #F3F3F3; /* установить цвет текста */
    display: block; /* тип отображения блочный элемент */
    margin: 20px auto; /* установить внешние отступы по горизонтали и вертикали */
    text-decoration: none;  /* стиль текста без оформления */  
}

.persona__info > a > i {
    color: #FFF; /* установить цвет текста */
    font-size: 32px; /* установить размер шрифта */
    display: block; /* тип отображения блочный элемент */
    margin-bottom: 10px; /* установить внешний отступ снизу */
}