* { /* Установить свойства для всех элементов: внутренние и внешние отступы */
    padding: 0;
    margin: 0;
}

/* определить ключевые кадры при анимации с названием rotate */
@keyframes rotate {
    100% { transform: rotate(360deg); }
}

.wrap {  /* Установить свойства для статичного блока-рамки */
    width: 200px; /* ширина */
    height: 150px; /* высота */
    outline: 1px solid #000; /* внешняя граница 1 пиксел сплошная черная */
    display: inline-block; /* тип отображения обтекаемый блочный элемент */
    margin: 35px 50px; /* внешние отступы */
}

.wrap > div { /* Установить общие свойства для анимируемых блоков*/
    width: 200px; /* ширина */
    height: 150px; /* высота */
    background: rgba(144, 235, 242, 0.5); /* цвет фона */
    display: inline-block; /* тип отображения обтекаемый блочный элемент */
    position: relative; /* относительное позиционирование */
    z-index: 2; /* порядок наложения - объект находится выше по оси z*/ 
    animation: rotate 6s linear infinite; /* установить свойства анимации rotate 6 секунд равномерная скорость бесконечно*/ 
}

.wrap > div > span { /* Установить свойства для текстовых надписей внутри блоков */
    position: absolute; /* абсолютное позиционирование */
    top: 45%; /* задать вертикальное положение */
    width: 100%; /* задать на всю ширину */
    text-align: center; /* выравнивание текста по центру */
}

.element-1 {
    transform-origin: 50% 50%; /* установить координаты точки, относительно которой будет происходить трансформация элемента по Х и У в %*/
}

.element-2 {
    transform-origin: top left; /* установить координаты точки, относительно которой будет происходить трансформация элемента по Х и У ключевыми словами */
}

.element-3 {
    transform-origin: 100% 0%; /* установить координаты точки, относительно которой будет происходить трансформация элемента по Х и У в %*/
}

.element-4 {
    transform-origin: 50px 50px; /* установить координаты точки, относительно которой будет происходить трансформация элемента по Х и У в px*/
}